@import "../../styles.module.css";

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: "Michroma", sans-serif;
    width: auto;
    max-width: 100%;
    background-image: url('../../assets/bg-about.svg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.aboutSection{
    height:100vh;
}
.aboutSection article{
    position: sticky;
    top: 0;
    width: 75%;
    right: 0;
    position: absolute;
    top: 15%;
}

.aboutSection article p{
    margin: 1rem;
    font-size: 1rem;
    text-align: justify;
    text-overflow: ellipsis;
    padding: 0 1rem;
}

.aboutSection > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 50%;
    bottom: 5%;
}
.aboutSection.skillSection, div h3{
    margin: 1rem;
}

.aboutSection.skillSection, div span{
    cursor: pointer;
}

.skillSection{
    height: 100vh;
    position: sticky;
    top: 0;
}
.skillSection > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 50%;
    bottom: 5%;
}