.ButtonIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 50%;
    padding: 1rem;
    border: 2px solid ;
    font-size: 1.5rem;
    animation: checkedAnimation 1s ease-in-out forwards;
    animation-iteration-count: infinite;
}


.downloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Economica", sans-serif;
  font-size: 1.25rem;
  background-color: #1e63cb;
  color: #fff;
  border: #fff solid 2px;
  text-decoration: none;
}

.downloadButton svg {
  margin-left: 1rem;
}

.downloadButton:hover {
  background-color: #080f1b;
  color: #fff;
  border: #1e63cb solid 2px;
  transition: all 0.3s ease-in-out;
}

