/* Card.module.css */

.cardContainer{
  display: flex;
  gap: 2rem;
}

.cardList {
  display: flex;
  gap: 2rem;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #fff;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 200px;
  height: 150px;
  border-radius: 8px;
}

.content {
  margin-top: 16px;
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
}

p {
  font-size: 0.8rem;
  color: #000;
  margin-top: 1rem;
}

h3 {
  font-size: 1rem;
}
.subcontent li{
  text-align: center;
  padding: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}