@import "../../styles.module.css";

.container {
    composes: container from "../../styles.module.css"; /* Asegúrate de que la ruta sea correcta */
    background-image: url('../../assets/bg-project.svg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
}

